<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class = "container">
    <h1 th:text="${title}"></h1>
       <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Surnames</th>
                <th scope="col">Birthday</th>
                <th scope="col">Country</th>
                <th scope="col">Studies</th>
                <th scope="col">Address</th>
                <th scope="col">Promotion</th>
                <th scope="col">Age</th>
                <th scope="col">Edit</th>

            </tr>
            </thead>
           <tbody>
           <tr th:each="coder: ${coders}">
               <th scope="row" th:text="${coder.id}"></th>
               <td th:text="${coder.name}"></td>
               <td th:text="${coder.surnames}"></td>
               <td th:text="${coder.birthday}"></td>
               <td th:text="${coder.country}"></td>
               <td th:text="${coder.studies}"></td>
               <td th:text="${coder.address}"></td>
               <td th:text="${coder.promotion}"></td>
               <td th:text="${coder.age}"></td>
               <td>
                   <a class="btn btn-success btn-sm" th:href="'/coders/edit/'+${coder.id}">Edit</a>
               </td>
           </tr>
           </tbody>
       </table>
</section>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>